body {
    background-image:url("appetizerbackground.jpg");
    background-size:cover;
    display: flex;
    align-content: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    color:white;
    float:right;
    margin-right:10%;
    text-align:center;

}
iframe{
    margin-left:15%;
    border-radius:5px;
}
a{
    text-decoration: none;
    color:white;
    
    
}

ul{
    list-style-type: none;

}
#mapit{
    display:flex;
    justify-content: flex-end;
    margin-right:80px;
    float:right;
}

/* burger png source:https://pixabay.com/en/burger-fast-food-food-2645563/ */